@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    position: relative;
    overflow: hidden;
}

#page{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000000ec;
}



#page>img{
    margin: auto 0;
    position: absolute;
    right: 5%;
    top: 30%;
    border-radius: 55% 45% 55% 45%;
    overflow: hidden;
    animation: imgFloat 7s ease-in-out infinite;
    width: 400px;
    height: 400px;
}

#page>img{
    position: absolute;
    object-fit: cover;
    margin-right: 5%;
}

@keyframes imgFloat {
    50%{
        transform: translateY(10px);
        border-radius: 45% 55% 45% 55%;
    }
}

#page>#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: absolute;
    z-index: 9;
    height: 15%;
    width: 100%;
}

#center-nav{
    display: flex;
    gap: 20px;
}

#center-nav>a{
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    transition: all .5s ease;
}

#center-nav>a:hover {
    color: #6751d6;
  }

#nav>input{
    padding: 15px 5px;
    border-radius: 10px;
    text-align: center;
    color: #000000;
    border: none;
    text-transform: uppercase;
    border: 1px solid #dadada;
}

#nav>button{
    padding: 15px 15px;
    border-radius: 10px;
    text-transform: uppercase;
    background-color: #ffffff00;
    border: 2px solid #6751d6;
    border-color: #6751d6;
    color: #fff;
    margin-right: 105px;
    font-size: 17px; 
    transition: all .5s ease;
}

#nav>button:hover {
    color: #ffffff;
    background-color: #6751d6;
}

#nav>img{
    width: 15%;
    padding-top: 20px;
    
}

#nav>h4{
    position: absolute;
    left: 12%;
    color: #fff;
}

#text{
    padding: 35px 50px;
    position: relative;
    left: 8%;
    top: 27%;
    height: 75%;
    width: 45%;
    scale: 1.1;
}

#text>h1{
    font-size: 55px;
    margin-top: 20px;
    color: #fff;
}

#text>h2{
    color: #fff;
}

#text>h2>span{
    color: #8773ED;
}

#text>h4{
    margin-top: 30px;
    color: #c2c2c2;
    font-weight: 500;
    font-size: 18px;
}

#text>h4>i{
    color: #000000;
}

#text>h5{
    color: #8773ED;
    transform: rotate(-20deg);
    position: absolute;
    left: 5%;
    font-size: 17px;
}

#buttons{
    position: absolute;
    left: 0%;
    bottom: 30%;
    height: 20%;
    width: 100%;
}

#buttons>button{
    padding: 20px 35px;
    border-radius: 15px;
    border: none;
    font-size: 17px;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}

#buttons>button>i{
    font-size: 17px;
}

#buttons>#b1{
    margin: 30px 10px 60px 0;
    margin-left: 50px;
    background-color: #8773ED;
    color: #fff;
}

#buttons>button:hover {
    color: rgb(0, 0, 0);
    box-shadow: 0 5px 15px rgba(163, 102, 255, 0.4);
  }

#buttons>#b1>i{
    padding: 5px 5px;
}

#buttons>#b2{
    margin-left: 20px;
}

#social-media{
display: flex;
gap: 20px;
margin-top: 50px;
color: #fff;

}

#social-media>i{
    font-size: 20px;
    border: 2px solid #8773ED;
    border-radius: 10px;
    padding: 5px 5px;
    background-color: rgba(255, 255, 255, 0.085);  
    backdrop-filter: blur(5px); 
}

#social-media>h4{
    margin-top: 6px;
}

#scroll-down{
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 19px;
    padding: 100px 0px; 
    font-weight: 100;  
}

#scroll-down>i{
    padding: 0px 9px;
    color: #8773ED;
    font-size: 25px;
}


/* ABOUT SECTION */

#page1{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0c0c0cec;
}

#about{
    position: relative;
    width: 100%;
    height: 50%;
}

#about>h1{
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

#about>h2{
    color: #8773ED;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 40%;
    padding-top: 15px;
    font-size: 30px;
    text-transform: uppercase;
}

#image>img{
    position: absolute;
    width: 30%;
    object-fit: cover;
    object-position: 5px 5px;
    border-radius: 10px;
    margin: 80px 140px;
    background-image: linear-gradient(to right top, #2d2d2d, #404156, #4a5785, #455cb6, #6d12eb);
}

#intro{
    position: absolute;
    padding-top: 160px;
    right: 10%;
    width: 50%;
    justify-content: end;
    width: 40%;
}

#intro>p{
    color: #e3f2ffd3;
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 35px;
    padding-top: 110px;
}

#intro>button{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    border-radius: 10px;
    color: #fff;
    background-color: #7a66dd;
    border: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    padding: 17px;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    font-weight: 600;
    margin-top: 5%;
}

#intro>button:hover {
    color: rgb(255, 255, 255);
    box-shadow: 0 5px 15px rgba(163, 102, 255, 0.4);
  }

#eductaion{
    position: absolute;
    right: 37%;
    top: 45%;
    color: #fff;
    border: 1px solid #c5c5c5;
    padding: 25px 20px;
    border-radius: 10px;
    line-height: 30px;
}

#eductaion>i{
    font-size: 25px;
    padding-left: 85px;
    color: #8773ED;
}

#eductaion>h3{
    font-size: 18px;
    padding-left: 45px;
    color: #ffffff;
}

#eductaion>h4{
    font-size: 18px;
    padding-left: px;
    color: #dbdbdb;
    font-weight: 100;
}

/* SKILLS SECTION */

#page2{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000000ec;
}

#page2>h1{
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

#page2>#main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

#frontend>h2{
    padding: 30px 20px;
    padding-top: 30px;
    text-transform: uppercase;
    color:#6d12eb;
}

#frontend{
    padding: 70px 80px;
    width: 100%;
}

#backend>h2{
    padding: 30px 20px;
    padding-top: 30px;
    text-transform: uppercase;
    color:#6d12eb;
}

#backend{
    padding: 70px 80px;
    width: 100%;
}

#skills{
    
    padding: 0 20px;
}

#skill-name{
    font-size: 18px;
    font-weight: 700;
    color: #f1f1f1;
    text-transform: uppercase;
    padding: 20px 0;
}

#skill-bar{
    height: 14px;
    background-color: #414141;
    border-radius: 3px;
}

#skill-per{
    height: 14px;
    background: #6d12eb;
    border-radius: 3px;
    position: relative;
    animation: fillbars 2.5s 1;
}

#skill-per::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background: #f1f1f1;
    border-radius: 4px;
    font-size: 12px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
}

#skill-per::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #f1f1f1;
    top: -18px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
}

@keyframes fillbars {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

/* PROJECT SECTION */

#page3{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0c0c0cec;
}

#portfolio-content{
    width: 90%;
    height: 100%;
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
}

#row{
    position: relative;
    border-radius: 8px;
    cursor: pointer;
    padding-left: 80px;
}

#row>img{
    position: absolute;
    width: 100%;
    border-radius: 10px;
}

#layer>h5{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    color: #1291eb;
    font-size: 30px;
    font-weight: 600;
    bottom: 38%;
    padding: 0 0 0 150px;
}

#btn-1>button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    border-radius: 10px;
    color: #fff;
    background-color: #1E1E1E;
    border: 1px solid #ffffff;
    position: absolute;
    align-items: center;
    justify-content: center;
    padding: 12px 30px;
    text-transform: uppercase;
    transition: all .5s ease;
    bottom: 27%;
    margin-left: 65px;
}

#btn-1>button:hover {
    color: #001F3F;
    background-color: #fff;
}

#btn-2>button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    border-radius: 10px;
    color: #fff;
    background-color: #1E1E1E;
    border: 1px solid #dadada;
    position: absolute;
    padding: 12px;
    text-transform: uppercase;
    transition: all .5s ease;
    bottom: 27%;
    margin-left: 313px;
}

#btn-2>button:hover {
    color: #001F3F;
    background-color: #fff;
}

#text-pro{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

/* CONTACT SECTION */

#page4{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000000ec;
    padding-top: 100px;
}

#contact-left{
    position: absolute;
    padding: 100px 140px;
    font-size: 30px;
    width: 50%;
    height: 100%;
}

#contact-left>h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 20px 0;
    color: #fff;
}

#contact-left>p{
    font-size: 20px;
    line-height: 50px;
    color: #fff;
}

p>i{
    color: #6d12eb;
}

.social-icons1{
    position: absolute;
    top: 32%;
}

#contact-left>button{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    border-radius: 10px;
    color: #fff;
    background-color: #6d12eb;
    border: none;
    position: absolute;
    padding: 16px 23px;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    font-weight: 600;
    bottom: 45%;
}

#contact-left>button:hover {
    color: rgb(255, 255, 255);
    box-shadow: 0 5px 15px rgba(163, 102, 255, 0.4);
  }

#contact-right{
    position: absolute;
    top: 0;
    right: -15%;
    width: 60%;
    height: 100%;
}

form{
    position: absolute;
    top: 22%;
}

form input, form textarea{
    width: 95%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form > button{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    border-radius: 10px;
    color: #fff;
    background-color: #6d12eb;
    border: none;
    position: absolute;
    padding: 16px 40px;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    font-weight: 600;
    bottom: -25%;
    left: 0;
}

form > button:hover {
    color: rgb(255, 255, 255);
    box-shadow: 0 5px 15px rgba(163, 102, 255, 0.4);
  }

/* FOOTER */

#copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background-color: #1E1E1E;
    color: #fff;
    font-size: 18px;
}

